<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>EQUIPO PULSE PROGRAMMING</title>
  <link rel="stylesheet" href="../css/equipo.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap"
    rel="stylesheet">
</head>

<body>
  <header class="encabezado">
    <h1>PULSE PROGRAMMING</h1>
    <a href="../../index.html" class="volver-btn">Volver</a>
  </header>

  <header class="sub-encabezado">
    <h2>EQUIPO</h2>
  </header>

  <section class="equipo">
    <h2>Conoce a Nuestro Equipo</h2>
    <div class="desarrolladores">
      <div class="desarrollador">
        <img src="../img/martin.jpeg" alt="Martin Paz">
        <h3>Martin Paz</h3>
      </div>
      <div class="desarrollador">
        <img src="../img/agus.jpeg" alt="Agustin Croce">
        <h3>Agustin Croce</h3>
      </div>
      <div class="desarrollador">
        <img src="../img/fede.jpeg" alt="Federico Zoppolo">
        <h3>Federico Zoppolo</h3>
      </div>
      <div class="desarrollador">
        <img src="../img/emi.jpeg" alt="Emiliano Gutierrez">
        <h3>Emiliano Gutierrez</h3>
      </div>
      <div class="desarrollador">
        <img src="../img/chuani.jpeg" alt="Juan Baubeta">
        <h3>Juan Baubeta</h3>
      </div>
      <div class="desarrollador">
        <img src="../img/feli.jpeg" alt="Felipe De Vera">
        <h3>Felipe De Vera</h3>
      </div>
    </div>
  </section>

  <footer class="pie">
    </ul>
    <ul class="menufooter">
      <li class="elementomenu">
        <a href="/index.html" class="menu-icon">Inicio</a>
      </li>
      <li class="elementomenu">
        <a href="../pages/servicios.html" class="menu-icon">Servicios</a>
      </li>
      <li class="elementomenu">
        <a href="../pages/contacto.html" class="menu-icon">Contacto</a>
      </li>
      <li class="elementomenu">
        <a href="../pages/empresas.html" class="menu-icon">Empresas</a>
      </li>
    </ul>
    <p class="text">2024 | Todos los derechos reservados</p>
  </footer>
</body>

</html>